* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* Navbar Styling */
.navbar {
    position: sticky;
    top: 0;
    background-color: white;
    font-size: 14.25px;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: auto auto 6fr 1fr;
    justify-items: center;
    align-items: center;
}

.nav-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
}
.menu, .search { margin: 15px; }

.category {
    font-size: 14.25px;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    margin: 5px;
}
.category:hover { text-decoration: underline;}

.home { margin-top: 8px; }

.btn {
    background-color:rgb(86, 123, 149);
    color:rgb(255, 255, 255);
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 0.05em;;
    border: 1px solid rgb(50, 104, 145);
    border-radius: 3px;
    margin-right: 7px;
    white-space: nowrap;
    padding: 8px 12px 8px 12px;  
}
.nav-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 5px;
}

/* Article Styling */
header {
    display: grid;
    justify-items: center;
    align-items: center;
}

h1.title {
    font-size: 2.5rem;
    color: #121212;
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    font-weight: 700;
    font-style: italic;
    max-width: 600px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.caption {
    margin: 10px;
    max-width: 720px;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    color: #666;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
}

.caption-credit {
    color: #888;
    letter-spacing: 0.01em;
    font-size: 0.75rem;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
}

header > img {
    width: auto;
    max-width: 600px;
    height: auto;
}