* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
}

/* Navbar Styling */
.navbar {
    position: sticky;
    top: 0;
    background-color: white;
    font-size: 14.25px;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: auto auto 6fr 1fr;
    justify-items: center;
    align-items: center;
}

.nav-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
}
.menu, .search { margin: 15px; }

.category {
    font-size: 14.25px;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    margin: 5px;
}
.category:hover { text-decoration: underline;}

.home { margin-top: 8px; }

.btn {
    background-color:rgb(86, 123, 149);
    color:rgb(255, 255, 255);
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 0.05em;;
    border: 1px solid rgb(50, 104, 145);
    border-radius: 3px;
    margin-right: 7px;
    white-space: nowrap;
    padding: 8px 12px 8px 12px;  
}
.nav-btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 5px;
}

/* **Article Styling** */

/* header styling */
header {
    display: grid;
    justify-items: center;
    align-items: center;
}

h1.title {
    font-size: 2.5rem;
    color: #121212;
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    font-weight: 700;
    font-style: italic;
    max-width: 600px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.caption {
    margin: 10px;
    max-width: 720px;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    color: #666;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
}

.caption-credit {
    color: #888;
    letter-spacing: 0.01em;
    font-size: 0.75rem;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
}

header > img {
    width: auto;
    max-width: 600px;
    height: auto;
}

/* article info styling */
.article {
    display: grid;
    justify-items: center;
}

.article-info {
    width: 600px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    margin: 10px;
}

.author > * {
    color: #333;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    font-weight: 700;
}
#author {
    text-decoration: underline;
    text-decoration-color: #ccc;
}

.lower-info {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.socials {
    display: grid;
    grid-template-columns: repeat(auto, 1fr);
    grid-auto-flow: column;
    grid-gap: 15px;
}
.icon-wrapper {
    background-color:#eee;
    border: 1px solid #eee;
    border-radius: 100%;
    padding: 3px;
    height: 30px;
    width: 30px;
    display: grid;
    justify-items: center;
    align-items: center;
}
.icon-wrapper:hover {
    background-color: white;
    border: 1px solid #999
}
.icons.no-circle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    align-items: center;
    justify-items: center;
}
.logo {
    height: 24px;
    width: 24px;
}

.date {
    font-weight: 500;
    color: #333;
    margin-bottom: 1rem;
    font-size: 0.8125rem;
    line-height: 1rem;
}